<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-locale"
        version="1.0.0">
  
    <!-- Define Android platform specifics -->
    <platform name="android">
        <!-- Point to your Java source file -->
        <source-file src="LocalePlugin.java" target-dir="src/com/outsystems/plugins" />

        <!-- Configuration in the AndroidManifest.xml -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="LocalePlugin">
                <param name="android-package" value="com.outsystems.plugins.LocalePlugin"/>
            </feature>
        </config-file>
    </platform>

    <!-- Optional: Add additional platforms like iOS if needed -->
    <engines>
        <engine name="cordova" version=">=9.0.0"/>
    </engines>
</plugin>
